body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/************* HEADER *************/
#headingDiv {
  margin-top: 70px;
}

#headingDiv .section-heading{
  display: inline-block;
  font-size: 40px;
  text-transform: uppercase;
}

#headingDiv .section-subheading{
  display: inline-block;
  position: relative;
  top: -5px;
  padding-left: 10px;
  font-size: 25px;
  font-weight: normal;
  font-style: italic;
}
