/************* NAV BAR *************/
/*Resource used for nav bar styling: Bootstrap theme: Agency
  https://github.com/BlackrockDigital/startbootstrap-agency/blob/master/css/agency.css
*/
.navbar-custom {
  background-color: #222222;
  border-color: transparent;
}

/*hamburger menu on smaller screens*/
.navbar-custom .navbar-toggle {
  background-color: #fed136;
  border-color: #fed136;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #fed136;
}

/*"Top Songs" brand*/
.navbar-custom .navbar-brand {
  font-size: 2em;
  text-transform: uppercase;
  padding-right: 30px;
  color: #fed136;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #fec503;
}

.navbar-custom #brandTitle {
  display: block;
}

/*Playlist controls*/
.navbar-custom #playlistControls {
  display: block;
  padding-top: 10px;
  padding-bottom: 5px;
}

.navbar-custom #playlistControls a,
.navbar-custom #playlistControls a:focus {
  background-color: #f2c503;
  color: black;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.navbar-custom #playlistControls a:hover,
.navbar-custom #playlistControls a:active {
  background-color: #222222;
  color: #f2c503;
}

/*Nav bar links*/
.navbar-custom .nav li a {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}

.navbar-custom .nav li a:hover {
  color: #fed136;
  outline: none;
}

.navbar-custom .nav li a:focus {
  color: #222222;
  outline: none;
}

/*Currently selected/active nav bar links*/
.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #fed136;
}

.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: #fec503;
}

/*Other dropdown menu styling */
.navbar-custom .dropdown-menu {
  background-color: #222222;
}

.DropdownButton {
  background-color: #222222;
  border-color: transparent;
  text-transform: uppercase;
  color: white;
  padding-top: 14px;
  border-radius: 0px;
  padding-bottom: 16px;
  border: none;
  outline: none;
}

.DropdownButton:hover,
.btn-default:active:hover,
.btn-default:active:focus,
.DropdownButton:active,
.DropdownButton:focus,
.open > .dropdown-toggle.btn-default:hover, 
.open > .dropdown-toggle.btn-default:focus, 
.btn-default:active.focus,  
.open > .dropdown-toggle.btn-default.focus,
.btn-default:active, 
.btn-default.active, 
.open > .dropdown-toggle.btn-default {
  color: #fec503;
  background-color: #222222;
  border: none;
  outline: none;
}

.DropdownButton.activeDropdown {
  color: white;
  background-color: #fec503;
}



