/************* NAV BAR *************/
/*Resource used for nav bar styling: Bootstrap theme: Agency
  https://github.com/BlackrockDigital/startbootstrap-agency/blob/master/css/agency.css
*/
.NavbarBS {
  background-color: #222222;
  border-color: transparent;
  height: 90px;
}

.NavbarBS > .container {
  margin-left: 0px;
}

.navbar-collapse {
  background-color: #222222;
  position: relative;
  z-index: 1;
}

/*hamburger menu on smaller screens*/
.navbar-toggle.collapsed {
  background-color: #fed136;
  border-color: #fed136;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}

.navbar-toggle:hover,
.navbar-toggle:focus {
  background-color: #fed136 !important;
}

/*"Top Songs" brand*/
#navbarBrand {
  position: relative;
  z-index: 2;
  font-size: 2em;
  text-transform: uppercase;
  padding-right: 30px;
  color: #fed136;
}

.NavbarBS #brandTitle {
  display: block;
}

#navbarBrand {
  font-size: 26px;
}

#navbarBrand:hover {
  text-decoration: none;
}

/*Nav bar links*/
.NavbarBS .NavItem.category a,
.NavDropdown a {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
  /* using important due to react-bootstrap/bootstrap */
  color: #fed136 !important;
  outline: none;
}

/*Currently selected/active nav bar links*/
.navbar-inverse .navbar-nav > li.active > a {
  border-radius: 0;
  /* using important due to react-bootstrap/bootstrap */
  color: white !important;
  background-color: #fed136;
}

.NavItem.active > a:hover,
.NavItem.active > a:focus {
  /* using important due to react-bootstrap/bootstrap */
  color: white !important;
  background-color: #fec503 !important;
}

/*Other dropdown menu styling */
.NavbarBS .dropdown-menu {
  background-color: #222222;
}

.NavDropdown:hover,
.btn-default:active:hover,
.btn-default:active:focus,
.NavDropdown:active,
.NavDropdown:focus,
.open > .dropdown-toggle.btn-default:hover,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.open > .dropdown-toggle.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #fec503;
  background-color: #222222;
  border: none;
  outline: none;
}

.NavDropdown.subcategory.dropdown.open #dropdown-basic-other {
  background-color: #222222;
}

.NavDropdown.subcategory.dropdown #dropdown-basic-other {
  /* using important due to react-bootstrap/bootstrap */
  color: white !important;
}

.NavDropdown.subcategory.dropdown > a:hover {
  color: #fed136 !important;
}

.NavDropdown.subcategory .dropdown-menu li a {
  /* using important due to react-bootstrap/bootstrap */
  color: white !important;
}

.NavDropdown.subcategory .dropdown-menu li a:hover {
  /* using important due to react-bootstrap/bootstrap */
  color: #fec503 !important;
}

.NavDropdown.activeDropdown {
  color: white;
  background-color: #fec503;
}

@media (min-width: 768px) {
  .navbar-nav {
    /* using important due to react-bootstrap/bootstrap */
    float: none !important;
  }
}
