/************* NAV BAR *************/
/*Resource used for nav bar styling: Bootstrap theme: Agency
  https://github.com/BlackrockDigital/startbootstrap-agency/blob/master/css/agency.css
*/
.NavbarBS {
  background-color: #222222;
  border-color: transparent;
}

.NavbarBS > .container {
  margin-left: 0px;
}

/*hamburger menu on smaller screens*/
.NavbarBS .navbar-toggle {
  background-color: #fed136;
  border-color: #fed136;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}

.NavbarBS .navbar-toggle:hover,
.NavbarBS .navbar-toggle:focus {
  background-color: #fed136;
}

/*"Top Songs" brand*/
.NavbarBS .navbarBrand {
  font-size: 2em;
  text-transform: uppercase;
  padding-right: 30px;
  color: #fed136;
}

.NavbarBS .navbarBrand:hover,
.NavbarBS .navbarBrand:focus,
.NavbarBS .navbarBrand:active,
.NavbarBS .navbarBrand.active {
  color: #fec503;
}

.NavbarBS #brandTitle {
  display: block;
}

/*Playlist controls*/
.NavbarBS #playlistControls {
  display: block;
  padding-top: 10px;
  padding-bottom: 5px;
}

.NavbarBS #playlistControls a,
.NavbarBS #playlistControls a:focus {
  background-color: #f2c503;
  color: black;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.NavbarBS #playlistControls a:hover,
.NavbarBS #playlistControls a:active {
  background-color: #222222;
  color: #f2c503;
}

/*Nav bar links*/
.NavbarBS li a {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white !important;
}

.NavbarBS li a:hover {
  color: #fed136 !important;
  outline: none;
}

.NavbarBS li a:focus {
  color: #222222 !important;
  outline: none;
}

/*Currently selected/active nav bar links*/
.NavItem.active > a {
  border-radius: 0;
  color: white !important;
  background-color: #fed136 !important;
}

.NavItem.active > a:hover,
.NavItem.active > a:focus {
  color: white !important;
  background-color: #fec503 !important;
}

/*Other dropdown menu styling */
.NavbarBS .dropdown-menu {
  background-color: #222222;
}

.NavDropdown:hover,
.btn-default:active:hover,
.btn-default:active:focus,
.NavDropdown:active,
.NavDropdown:focus,
.open > .dropdown-toggle.btn-default:hover,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.open > .dropdown-toggle.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #fec503;
  background-color: #222222;
  border: none;
  outline: none;
}

#dropdown-basic-other {
  color: white !important;
}

#dropdown-basic-other:hover {
  color: #fec503 !important;
}


.NavDropdown.activeDropdown {
  color: white;
  background-color: #fec503;
}



