/************* PLAYLIST CONTROLS *************/
#playlistControls {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
}

#playlistControls a,
#playlistControls a:focus {
  background-color: #f2c503;
  color: black;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin: 0 3px 5px 3px;
}

#playlistControls a:hover,
#playlistControls a:active {
  background-color: #222222;
  color: #f2c503;
}
