.songRow .position {
  margin-top: 10px;
  display: block;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  background-color: black;
  font-weight: bold;
  color: #fec503;
}
.songRow .songName {
  text-transform: uppercase;
  font-weight: bolder;
}

.songRow .artist {
  margin-bottom: 5px;
}

.songRow .btnArtistBio {
  background-color: #222222;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.songRow .btnArtistBio:hover,
.songRow .btnArtistBio:focus,
.songRow .btnArtistBio:active {
  background-color: #fed136;
}
